.background{
    -fx-background-image: url("../gfx/bg/bg.png");
}

.button{
    -fx-background-radius: 35px;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 100% 100%;
}

#back{
    -fx-background-image: url("../gfx/button/back.png");
}

#back:hover{
    -fx-background-image: url("../gfx/button/back_hov.png");
}